.storage {
  min-height: calc(100vh - 60px);
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 16px;

  .contract, .events {
    border: 1px solid royalblue;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;

    .blockTitle {
      background: #d32f2f;
      color: #FFF;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .addressBlock {
    margin-top: 24px;

    .link {
      display: block;
      background: royalblue;
      color: #FFF;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 20px;
      text-decoration: underline;
    }

    .label {
      background: royalblue;
      color: #FFF;
      padding: 4px 8px;
      border-radius: 4px 4px 0 0;
    }

    .address {
      color: royalblue;
      padding: 4px 8px;
      box-sizing: border-box;
      border-radius: 0 0 4px 4px;
      border: 2px solid royalblue;
    }
  }

  .etherscanBlock {
    margin-top: 24px;
    background: #ed6c02;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      align-self: center;
      width: 150px;
      height: auto;
      flex-grow: 0;
    }

    .link {
      flex-shrink: 0;
      display: block;
      color: #FFF;
      font-size: 20px;
      text-decoration: none;
    }
  }

  .valueWrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    border: 2px solid royalblue;

    .label, .value {
      box-sizing: border-box;
      padding: 4px 8px;
      font-size: 20px;
    }

    .label {
      background: royalblue;
      color: #FFF;
    }

    .value {
      color: royalblue;
    }

  }

  .form {
    margin-top: 24px;


    .btn {
      margin-top: 8px;
      display: block;
    }
  }

  .btn {
    margin-top: 8px;
    display: block;
  }

  .events {
    .table {
      margin-top: 24px;

      .tableLibel {
        padding: 4px 8px;
        background: #2e7d32;
        color: #FFF;
        box-sizing: border-box;
        border-radius: 4px;
      }

      .header {
        margin-top: 4px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 4fr;
        grid-column-gap: 4px;

        p {
          padding: 4px 8px;
          background: royalblue;
          color: #FFF;
          box-sizing: border-box;
          border-radius: 4px;
        }
      }

      .rows {
        margin-top: 8px;

        .row {
          display: grid;
          grid-template-columns: 1fr 1fr 2fr 4fr;
          grid-column-gap: 4px;

          &:not(:first-child) {
            margin-top: 4px;
          }

          p {
            padding: 4px 8px;
            background: #333;
            color: #FFF;
            box-sizing: border-box;
            border-radius: 4px;
          }
        }
      }
    }
  }

}
